@* @model LogoutModel *@
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-action="Logout">
                <input type="submit" value="Logout" class="nav-link btn btn-link text-dark" Click here to Logout />
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>