@model IEnumerable<Marketplace.Models.InstructorModel>
@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Administrator page!</h1>
</div>

@foreach (var instructor in Model)
{
    <h2>
        @instructor.firstName
    </h2>
}