@model Marketplace.Models.BidModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Bid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="ModuleBidded" class="control-label"></label>
                <input asp-for="ModuleBidded" class="form-control" />
                <span asp-validation-for="ModuleBidded" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="InstructorBiddedId" class="control-label">Instructor Bidded</label>
                <input asp-for="InstructorBiddedId" class="form-control" />
                <span asp-validation-for="InstructorBiddedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursBid" class="control-label">Hours Bidded</label>
                <input asp-for="HoursBid" class="form-control" />
                <span asp-validation-for="HoursBid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>